<a href="https://colab.research.google.com/github/kiminonawa1305/machine_learning/blob/main/lab_2_21130416_NguyenDinhLam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab #2
This lab is the first step to get farmilliar with some common Machine Learning libraries, named ***Pandas*** and ***Matlotlib***.

*   **Deadline: 23:59, 18/03/2024**

#0. Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/machice_learning

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/machice_learning

#1. Import libraries

In [ ]:
import numpy as np
import pandas as pd

#2. Load dataset

*   Load dataset (named ***student-dataset.csv***) using ***read_csv*** from pandas
*   Then, display 10 last examples

In [ ]:
df = pd.read_csv('student-dataset.csv')

df.tail(10)

,id,name,nationality,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
297,297,Cody Smith,United States of America,M,NaN,23,3.8,3.5,3.9,5.0,5,2.0,5
298,298,Nicolas Papp,United States of America,M,NaN,23,2.7,3.7,3.9,5.0,5,4.0,4
299,299,Christopher Inhulsen,United States of America,M,NaN,23,3.1,3.3,2.9,5.0,2,4.0,4
300,300,Tessa Rawanduzy,United States of America,F,NaN,21,3.3,3.3,2.0,5.0,3,3.0,5
301,301,Vanessa Gonzalez,Nicaragua,F,NaN,24,3.3,3.7,3.8,3.0,5,5.0,4
302,302,Austin Haas,United States of America,M,NaN,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,F,NaN,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,M,NaN,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,F,NaN,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,M,NaN,21,3.8,3.2,4.0,5.0,5,4.0,5

#3. Show statistics of the given dataset

In [ ]:
df.describe()

,id,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
count,307.000000,0.0,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,153.000000,NaN,21.964169,3.369707,3.414332,3.446580,4.396417,3.986971,4.110749,4.188925
std,88.767487,NaN,1.248013,0.538724,0.476839,0.509081,0.996474,0.928749,0.823936,0.842193
min,0.000000,NaN,19.000000,1.500000,2.100000,1.400000,1.000000,1.000000,1.000000,1.000000
25%,76.500000,NaN,21.000000,3.100000,3.100000,3.200000,4.000000,3.500000,4.000000,4.000000
50%,153.000000,NaN,22.000000,3.500000,3.500000,3.600000,5.000000,4.000000,4.000000,4.000000
75%,229.500000,NaN,23.000000,3.800000,3.800000,3.800000,5.000000,5.000000,5.000000,5.000000
max,306.000000,NaN,26.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000

#4. Sort dataset by ***nationality***

In [ ]:
df.sort_values(by='nationality', ascending=True)

ValueError: No axis named 2 for object type DataFrame

#5. Group dataset by ***nationality*** and ***gender***

In [ ]:
# code

#6. Use scatter plot to represent the relationship between ***age*** and ***refletter.rating***
Rememer adding titles, xlabel, ylabel, ... to the plot

In [ ]:
# code

#7. Use scatter plot to represent the relationship between ***age*** and ***sciences.grade***
Rememer adding titles, xlabel, ylabel, ... to the plot

In [ ]:
#code

#8. Use histogram plot to represent the distribution of ***Age***
using bins=5

In [ ]:
#code

#9. Create a data frame that computes the average of ages in each countries?

Hint: Use groupby, select the age column and aggregate using mean.

In [ ]:
#code

#10. Create a dataframe including average of ***english.grade, math.grade, sciences.grade, language.grade, portfolio.rating, coverletter.rating, refletter.rating*** of each country

In [ ]:
#code

#Finally,
Remember renaming the notebook.